{{ define "main" }}

<!-- banner -->
{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="section-sm centerbanner pb-2 pt-3">
		    	   <div class="col-lg-7 col-md-6 order-1 order-lg-2 centerbanner">
  <img src="images/coverimage.jpg" class="img-fluid container centerbanner" alt="">
</div> 
  <div class="container centerbanner pt-2">
	          <h4>Embrace your natural look</h4>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

<!-- products -->
{{ if site.Data.homepage.haircareproducts.enable }}
<section class="section pb-0 centerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        {{ with site.Data.homepage.haircareproducts }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 1 (where site.RegularPages "Type" "haircareproducts") }}
      <div class="col-lg-4 col-sm-6 mb-4 container centerbanner">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            {{ range first 1 .Params.Images }}
            <img src="{{ .image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
              {{ end }}
              <span class="lead text-primary">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
            </div>
            <button class="snipcart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
              {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}">
              Add to cart
            </button>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /products -->

{{ end }}
