{{ define "main" }}

<!-- banner -->
{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="section-sm centerbanner pb-2 pt-3">
		    	   <div class="col-lg-7 col-md-6 order-1 order-lg-2 centerbanner">
  <img src="images/coverimage.jpg" class="img-fluid container centerbanner" alt="">
</div> 
  <div class="container centerbanner pt-2">
	          <h4>Embrace your natural look</h4>
    <div class="row justify-content-between centerbanner">
      <div class="container centerbanner">
        {{ if .button.enable }}
        {{ with .button }}
        <a href="/haircareproducts/natural-hair-wax/" class="btn centerbanner">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

{{ end }}
