{{ define "main" }}

<section class="section pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-0 mb-lg-0">
        <!-- product image slider -->
        <div class="product-slider">
          {{ range .Params.Images }}
          <div data-image="{{ .image | absURL }}">
            <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h3 class="font-weight-medium">{{ .Title }}</h3>      
        <p>Select your preferred scent on checkout</p>
	        <button class="snipcart-add-item btn btn-primary" data-item-id="{{ .Params.ProductID }}"
          data-item-name= "hungryhairwax {{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}" {{ end }}
           data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}"
            data-item-custom1-name="Please select your preferred scent" data-item-custom1-options="Orange|Grapefruit[+10.00]|Lime[+7.00]|Lemon[+4.00]">
          Add to cart
        </button>
        <div class="my-4">
          {{ if .Params.PriceBefore }}
          <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
          {{ end }}
          <span class="lead text-primary font-weight-medium">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
        </div>
                 <p>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="content">{{ .Content }}</div>
          </div>
                   </p>
	        <button class="snipcart-add-item btn btn-primary" data-item-id="{{ .Params.ProductID }}"
          data-item-name= "hungryhairwax {{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}" {{ end }}
           data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}"
            data-item-custom1-name="Please select your preferred scent" data-item-custom1-options="Orange|Grapefruit[+10.00]|Lime[+7.00]|Lemon[+4.00]">
          Add to cart
        </button>
      
      </div>
  </div>
</section>
  
       <!-- testimonial -->
{{ if site.Data.naturalhairwax.reviews.enable }}
{{ with site.Data.naturalhairwax.reviews }}
<section class="section pt-0">
  <div class="container pt-0">
    <div class="row pt-0">
      <div class="col-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{ range .reviewItem }}
      <div class="col-4">
        <div class="card border-primary text-center">
          <div class="card-body">
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}">
            <p class="">{{ .content | markdownify }}</p>
            <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
            <small>{{ .designation | markdownify }}</small>
            <ul class="list-inline rating {{ .rating | lower }} mt-3">
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
	{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
  <section class="section-sm centerbanner pb-2 pt-3">
 <div class="col-lg-7 col-md-6 order-1 order-lg-2 centerbanner">
  <img src="exampleSite/static/images/coverimage.jpg" class="img-fluid container centerbanner" alt="">
</div> 
  <div class="container centerbanner pt-2">
	          <h4>Embrace your natural look</h4>
	  </div>
	  </section>
	{{ end }}
{{ end }}
{{ end }}
